<div class="
  min-w-screen
  min-h-screen
  bg-green-500
  flex
  items-center
  justify-center
  px-5
  py-5">
  <div class="
    w-full
    mx-auto
    rounded-xl
    shadow-xl
    text-gray-800
    relative
    overflow-hidden"
    style="max-width: 400px;">
    <h1 class="
      text-center
      text-white
      py-10
      text-3xl
      font-bold">Calculadora com Angular</h1>

      <!-- Tela da calculadora -->

      <div class="
        w-full
        h-full
        bg-gradient-to-b
        from-gray-800
        to-gray-700
        text-right">

        <!-- tela de funçoes -->
        <app-functions></app-functions>

        <!-- Tela de numeros -->

        <app-numbers></app-numbers>

        <!-- tela das operaçoes -->

        <app-operacoes></app-operacoes>

      </div>

  </div>
</div>
