<div class="
  min-w-screen
  min-h-screen
  bg-gradient-to-b
  from-jade3
  to-jade1
  flex
  items-center
  justify-center
  px-5
  py-5">
  <div class="
    w-full
    mx-auto
    bg-gradient-to-b
    from-jade3
    to-jade1
    bg-opacity-90
    rounded-xl
    shadow-2xl
    text-cinza
    relative
    overflow-hidden"
    style="max-width: 400px;">
    <h1 class="
      text-center
      text-white
      py-10
      text-3xl
      font-bold">Calculadora com Angular</h1>

      <!-- Tela da calculadora -->

      <div class="
        w-full
        h-full
        bg-gradient-to-b
        from-cinza3
        to-cinza2
        shadow-2xl
        text-right">

        <!-- tela de funçoes -->
        <app-functions [currentFunction]="currentFunction"></app-functions>

        <!-- Tela de numeros -->

        <app-numbers [calValue]="calValue"></app-numbers>

        <!-- tela das operaçoes -->

        <app-operacoes (buttonClicked)="onClickButton($event)">
        </app-operacoes>

      </div>

  </div>
</div>
