<div class="
w-full
bg-gradient-to-b
from-red-500
to-red-800">

<!-- first button row -->
  <!-- botão de limpar -->
  <div class="flex w-full">
    <div class="w-2/4 border-r border-b border-red-400">
      <button class="
        w-full
        h-16
        outline-none
        hover:bg-red-700 hover:bg-opacity-20
        text-white
        text-xl
        font-light"
        (click)="onClickValue('C', 'function')"> C </button>
    </div>
    <!-- botão de porcentagem  -->
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
        w-full
        h-16
        outline-none
        focus:outline-none
        hover:bg-red-700
        hover:bg-opacity-50
        text-xl
        font-light
        text-white"
        (click)="onClickValue('%', 'function')"> % </button>
    </div>
    <!-- botão de divisão  -->
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
        w-full
        h-16
        outline-none
        focus:outline-none
        bg-red-700
        bg-opacity-10
        text-2xl
        font-light
        text-white"
        (click)="onClickValue('/', 'function')"> / </button>
    </div>
  </div>

  <!-- segunda linha de botoes  -->

  <div class="flex w-full">
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      focus:outline-none
      hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('7', 'number')"> 7 </button>
    </div>
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      focus:outline-none
      hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('8', 'number')"> 8 </button>
    </div>
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      focus:outline-none
      hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('9', 'number')"> 9 </button>
    </div>
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      focus:outline-none
      hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('*', 'function')"> * </button>
    </div>
  </div>

  <!-- terceira linha de botoes  -->

  <div class="flex w-full">
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      focus:outline-none
      hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('4', 'number')"> 4 </button>
    </div>
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      focus:outline-none
      hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('5', 'number')"> 5 </button>
    </div>
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      focus:outline-none
      hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('6', 'number')"> 6 </button>
    </div>
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      focus:outline-none
      hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('-', 'function')"> - </button>
    </div>
  </div>

  <!-- quarta linha de botoes  -->

  <div class="flex w-full">
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      focus:outline-none
      hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('1', 'number')"> 1 </button>
    </div>
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      focus:outline-none
      hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('2', 'number')"> 2 </button>
    </div>
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      focus:outline-none
      hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('3', 'number')"> 3 </button>
    </div>
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      focus:outline-none
      hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('+', 'function')"> + </button>
    </div>
  </div>

  <!-- quinta linha de botoes  -->

  <div class="flex w-full">
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      hover:bg-red-700 hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('0', 'number')"> 0 </button>
    </div>
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      hover:bg-red-700 hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('.', 'number')"> . </button>
    </div>
    <div class="w-2/4 border-r border-b border-red-400">
      <button class="
      w-full
      h-16
      outline-none
      hover:bg-red-700 hover:bg-opacity-20
      text-xl
      font-light
      text-white"
      (click)="onClickValue('=', 'function')"> = </button>
    </div>
  </div>

</div>
